$primary:   #F03D3E;
$secondary: #7B61FF;
@import "./node_modules/bootstrap/scss/bootstrap";

.header {
    height: 230px;
    .background-light {
        opacity: 0.1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
    }
    .logo {
        height: 78px;
        width: 172px;
    }
    .nav-container {
        z-index: 1;
    }
    .search {
        max-width: 350px;
        width: 100%;
    }
}




